.container {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f0c29 0%,
    #302b63 50%,
    #ff0055 100%
  );
  padding: 120px 80px;
  color: white;
}

/* LOGO */
.logo {
  width: 90px;
  border-radius: 20px;
  margin-top: -70px;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.05);
}

/* TITLE */
.title {
  font-size: 56px;
  margin-bottom: 80px;
  font-weight: 700;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.05);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.1);
}

/* INPUTS */
.input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.08);
  color: white;
  font-size: 15px;
  outline: none;
}

.textarea {
  height: 140px;
  resize: none;
}

/* BUTTON */
.button {
  width: 100%;
  background: #ff0055;
  padding: 14px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    padding: 120px 25px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .logo {
    margin-top: -50px;
    width: 50px;
  }
}