/* ============================= */
/* NAVBAR GLOBAL */
/* ============================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 80px;

  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* LOGO */
.logo {
  width: 70px;
  border-radius: 18px;
  cursor: pointer;
}

/* MENU */
.menu {
  display: flex;
  align-items: center;
  gap: 180px;
}

/* LINKS */
.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s ease;
}

.link:hover {
  opacity: 0.7;
}

/* ADMIN BUTTONS */
.adminIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}

.logoutBtn {
  padding: 8px 20px;
  border-radius: 25px;
  border: none;
  background: white;
  color: #ff0055;
  font-weight: 600;
  cursor: pointer;
}

/* ============================= */
/* RESPONSIVE MOBILE */
/* ============================= */

@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;
  }

  .logo {
    width: 55px;
    margin-right: 5px;
  }

  .menu {
    gap: 5px; /* réduit énorme espace */
  }

  .link {
    font-size: 14px;
  }

}